extends layouts/layout
block content
	// breadcrumbs
	.breadcrumbs
		.breadcrumbs__container.container
			ul
				li
					a(href="#") Home
				li
					a(href="#") Catalog of transport
				li BMW X7 M50D 2021
	// section
	if car
		.section
			.section__container.container
				h1.title= `${car.mark} ${car.model} ${car.year}`
				.auto
					.auto__cell
						.gallery
							.gallery__preview
								if car.general_photos && car.general_photos.length > 0
									each generalPhoto in car.general_photos
										if(generalPhoto.active)
											img(src=`${generalPhoto.image}`, alt=`${car.mark} ${car.model} ${car.year}`)
							.gallery__carousel
								.gallery__thumbs
									if car.general_photos && car.general_photos.length > 0
										each generalPhoto in car.general_photos
											.gallery__thumb
												img(src=`${generalPhoto.image}`, alt=`${car.mark} ${car.model} ${car.year}`)
								button.gallery__prev
									<svg><path d="M19.5 0C30.3 0 39 8.7 39 19.5S30.3 39 19.5 39C8.8 39 0 30.2 0 19.5S8.8 0 19.5 0zm0 3.6c-8.7 0-15.8 7.1-15.8 15.8s7.1 15.9 15.8 15.9 15.8-7.1 15.8-15.8-7-15.9-15.8-15.9zm2.6 7.7c.8.8.8 2.2 0 3.1l-3 3h8.5a2.22 2.22 0 0 1 2.2 2.2 2.22 2.22 0 0 1-2.2 2.2h-8.5l2.9 3c.8.8.8 2.2 0 3.1-.4.4-1 .6-1.5.6-.6 0-1.1-.2-1.5-.6l-6.6-6.6c-.8-.8-.8-2.2 0-3.1l6.6-6.9c.8-.8 2.2-.8 3.1 0z"/></svg>
								button.gallery__next
									<svg><path d="M19.5 0C30.2 0 39 8.8 39 19.5S30.2 39 19.5 39C8.7 39 0 30.3 0 19.5S8.7 0 19.5 0zm0 3.6c-8.8 0-15.8 7.2-15.8 15.9s7.1 15.8 15.8 15.8 15.8-7.2 15.8-15.9S28.2 3.6 19.5 3.6zm-2.6 7.7c.9-.8 2.3-.8 3.1 0h0l6.6 6.9c.8.9.8 2.3 0 3.1h0L20 27.9c-.4.4-.9.6-1.5.6-.5 0-1.1-.2-1.5-.6-.8-.9-.8-2.3 0-3.1h0l2.9-3h-8.5a2.22 2.22 0 0 1-2.2-2.2 2.22 2.22 0 0 1 2.2-2.2h0 8.5l-3-3c-.8-.9-.8-2.3 0-3.1z"/></svg>
						.view
							button
								<svg width="27" height="16"><path d="M3.781 4.606c.141.58 0 .921-.493 1.194-.423.239-.775.614-1.057.989-.599.751-.599 1.603.035 2.354.423.478.916.921 1.445 1.228 1.903 1.126 4.018 1.535 6.239 1.842v-1.262l4.829 2.524L9.984 16v-1.228l-3.419-.751c-1.586-.375-3.137-.921-4.441-1.944a6.87 6.87 0 0 1-1.621-1.706c-.705-1.023-.634-2.115 0-3.173.775-1.194 1.939-1.945 3.278-2.593zm19.457.068c.07.034.176.034.247.102.881.444 1.692.955 2.397 1.672 1.48 1.535 1.516 3.377-.035 4.844-.705.648-1.516 1.228-2.361 1.672-2.503 1.296-5.217 1.774-8.001 1.944l-.141-.068v-2.456l2.326-.273c1.727-.239 3.419-.614 4.97-1.399.599-.307 1.198-.682 1.692-1.126 1.128-.989 1.093-2.217.035-3.241-.211-.205-.388-.409-.634-.512-.529-.239-.634-.648-.493-1.16zm-8.495-2.422l-1.798 2.456h.247c1.269-.102 2.256.512 2.643 1.603.388 1.126-.106 2.354-1.128 3.002-.987.58-2.397.58-3.243-.034-1.057-.785-1.304-1.842-.952-3.002.247-.819.705-1.569 1.093-2.32.282-.512.634-.955 1.022-1.399.106-.136.317-.239.458-.239.529-.102 1.057-.068 1.657-.068zm-5.745.444c.987.682 1.093 1.842.352 2.729-.106.068-.211.171-.388.341 1.022.614 1.304 1.433.952 2.49-.106.273-.247.546-.458.751-.811.785-1.798.853-2.82.58-1.022-.307-1.48-1.058-1.692-2.047h1.48c.423.887.775 1.126 1.304.989.458-.102.74-.512.705-1.023-.035-.648-.388-.955-1.41-1.092V5.288c.282-.068.564-.102.846-.239.388-.171.529-.512.458-.921-.071-.375-.282-.648-.67-.751-.352-.102-.705 0-.916.273-.141.205-.247.478-.352.716H5.05c-.141-.853.599-1.842 1.586-2.081a2.65 2.65 0 0 1 2.362.409zm10.222-.58c1.093.034 1.868.546 2.362 1.467.388.751.493 1.535.564 2.32-.141.682-.211 1.399-.493 2.047-.423 1.023-1.234 1.672-2.432 1.706s-2.044-.58-2.538-1.603c-.67-1.501-.634-3.036.106-4.503.494-.955 1.304-1.467 2.432-1.433zm-.035 1.467c-.564 0-.916.307-1.057.785-.212.512-.282 1.058-.423 1.603.141.512.212 1.058.388 1.535s.529.819 1.093.819.881-.375 1.057-.819c.423-1.058.388-2.115-.035-3.139-.176-.444-.493-.785-1.022-.785zm-6.027 2.286c-.67 0-1.198.512-1.198 1.194s.529 1.228 1.234 1.194c.599 0 1.093-.546 1.093-1.228s-.493-1.16-1.128-1.16zM22.356 0c.423 0 .811.273.952.751.07.205.07.409.106.614-.035.205-.07.409-.141.614a1 1 0 0 1-.952.716c-.458 0-.846-.239-.952-.716-.07-.409-.106-.853 0-1.228.106-.512.529-.751.987-.751zm-.035.512c-.282 0-.529.341-.529.819s.211.819.493.819c.317.034.564-.307.564-.819 0-.478-.247-.819-.529-.819z"/></svg>
							button
								<svg width="15" height="17"><path d="M1.32 0h.393c.381.078.736.22 1.066.415l11.016 6.458c.267.156.52.35.736.571.596.597.622 1.375.089 2.023-.229.285-.52.493-.838.674l-10.99 6.432c-.267.156-.558.272-.85.363-.8.221-1.472-.143-1.777-.934C.025 15.64 0 15.264 0 14.875V2.114l.025-.519C.076 1.128.216.7.558.363.774.156 1.041.065 1.32 0z"/></svg>
					.auto__cell
						.auto__code=`VIN # ${car.vin}`
						.auto__params
							.auto__price=`$ ${car.price}`
							//.auto__miles=`${car.milage}`
						.auto__actions
							button.btn.btn--stroke Test Drive
							button.btn.btn--stroke Buy car
						.auto__doc
							<svg width="24" height="33"><path d="M14.368 0c.239.146.401.344.307.636s-.35.335-.623.335c-2.807 0-5.605 0-8.412-.009-.23 0-.392.069-.555.232L1.178 5.149a.77.77 0 0 0-.205.499L.964 27.344c0 .223.06.378.222.533l3.967 3.98c.102.095.273.172.41.172h12.891c.137 0 .307-.077.41-.181l3.984-4.014a.73.73 0 0 0 .188-.473l.008-4.092c0-.129 0-.258.026-.387a.43.43 0 0 1 .435-.352.43.43 0 0 1 .469.352c.026.12.026.258.026.387v8.347h0c0 .98-.401 1.384-1.382 1.384H1.408h0C.401 33 .009 32.605.009 31.599L0 1.393C-.008.722.222.249.862 0h13.506 0zm8.643 29.149l-2.875 2.888 2.568.008c.256 0 .341-.095.333-.335V29.33c0-.069-.017-.137-.026-.18zM.964 29.132l.009 2.708c0 .069.128.189.196.189l2.679.009-2.884-2.906zm1.442-15.215c.264 0 .418.146.461.404.017.129.017.258.017.387v11.794h0c0 .241.06.421.239.593l2.815 2.819c.102.103.29.181.435.189l1.698.008c.367 0 .597.189.597.481s-.23.481-.597.481c-.683 0-1.365.017-2.048-.009-.171-.009-.384-.086-.503-.215l-3.37-3.395c-.136-.137-.205-.404-.205-.602l-.026-6.129v-6.06l.017-.352a.43.43 0 0 1 .469-.395zM17.9 1.926c.282 0 .486.086.674.284l3.123 3.146c.273.266.392.55.392.937l-.008 10.212.008 10.246c0 .344-.094.61-.35.851l-3.199 3.198a.97.97 0 0 1-.614.258l-7.354.009c-.06 0-.128.009-.188-.009-.264-.043-.427-.198-.427-.473s.162-.438.427-.481c.094-.017.188-.009.29-.009l6.945-.009a.76.76 0 0 0 .495-.206l2.824-2.845a.73.73 0 0 0 .188-.473V6.421c0-.155-.085-.352-.196-.473l-2.824-2.845c-.111-.112-.307-.198-.461-.198-3.745-.009-7.482-.009-11.228 0-.154 0-.35.077-.469.189-.973.937-1.894 1.891-2.841 2.819-.162.163-.239.327-.23.559l.009 5.321v.292h0c-.017.327-.213.533-.486.524-.264-.009-.444-.206-.469-.516-.009-.077 0-.146 0-.223L1.92 6.198c0-.309.085-.55.316-.765l3.216-3.232c.188-.189.384-.275.648-.275H17.9zm1.067 20.45c.717.98.717 2.295-.009 3.266a2.68 2.68 0 0 1-3.114.92c-.222-.086-.393-.112-.589.043-.111.095-.256.146-.393.206-.87.37-1.715.438-2.5-.249l-.142.184c-.191.245-.399.469-.753.435-.452-.043-.597-.421-.742-.808-.205.249-.367.481-.563.688-.845.885-2.005 1.049-3.063.438-.299-.172-.401-.438-.273-.688.128-.258.401-.318.717-.163.921.447 1.561.292 2.167-.55.461-.645.665-1.384.742-2.166.017-.181.009-.361.034-.55.034-.309.222-.499.478-.507.256 0 .452.198.478.507.026.421.026.834.051 1.255.026.387.068.765.102 1.152.026.017.051.009.077.009.06-.138.12-.275.188-.404.205-.387.631-.404.862-.034.537.86.998.988 1.903.524l.102-.069c-.367-.49-.614-1.014-.648-1.642-.068-1.212.648-2.321 1.783-2.733s2.389-.034 3.106.937zm-3.652.679c-.452.696-.341 1.711.281 2.192l.939-1.126c.23-.284.503-.361.742-.189s.256.464.034.765c-.264.344-.546.679-.819 1.023.657.249 1.561-.206 1.902-.963a1.78 1.78 0 0 0-.742-2.286 1.75 1.75 0 0 0-2.338.585zm-7.576-.49c.367 0 .58.189.572.498-.009.292-.213.464-.572.464-.444.009-.896 0-1.339 0H5.06h0c-.367 0-.58-.189-.572-.498.009-.292.213-.464.572-.464h2.679 0zM23.13 0c.657.249.87.748.87 1.436l-.009 19.006c0 .138 0 .284-.026.413-.051.241-.213.37-.452.37s-.41-.12-.452-.37c-.026-.138-.026-.275-.026-.413l.008-14.725a.8.8 0 0 0-.273-.645L18.872 1.16c-.111-.112-.307-.189-.461-.198-.589-.026-1.169-.017-1.758-.009-.273 0-.52-.017-.631-.318-.119-.292.06-.464.264-.636h6.843 0zm-4.027 17.734a.45.45 0 0 1 .41.464c.009.275-.145.447-.41.49-.188.026-.384.009-.572.009h-7.542 0c-.102 0-.213.009-.316-.009-.265-.052-.418-.215-.41-.49.008-.258.162-.413.41-.456.094-.017.188-.009.29-.009l3.95-.009h3.899 0c.094 0 .196-.009.29.009zm-10.409 0c.367 0 .58.189.572.49-.009.292-.213.473-.563.473H5.06h0c-.367 0-.58-.189-.572-.49.009-.292.213-.473.563-.473h3.643 0zm10.4-2.252a.45.45 0 0 1 .409.464c.009.275-.145.438-.409.49-.094.017-.188.009-.29.009H5.188h0c-.102 0-.213.009-.316-.017-.247-.06-.384-.224-.375-.49.009-.249.154-.396.384-.447.102-.026.213-.009.316-.009l6.808-.009h6.774 0c.102 0 .213-.009.316.009zM17.26 6.447c.478 0 .606.112.666.576.085.602.461.971 1.049 1.032.393.043.538.181.538.576v2.415c0 .37-.154.516-.52.559-.614.069-.981.421-1.067 1.04-.06.447-.196.567-.648.567h-5.315-5.213 0c-.495 0-.614-.103-.683-.602-.085-.576-.461-.946-1.032-1.014-.41-.043-.546-.181-.555-.593V8.622c0-.395.145-.533.537-.576.597-.06.964-.421 1.049-1.023.068-.464.196-.576.665-.576H17.26h0zm-10.067.989a.36.36 0 0 0-.256.189c-.239.628-.657 1.074-1.288 1.298-.154.052-.222.129-.213.301a29.08 29.08 0 0 1 0 1.221c-.009.189.06.275.239.344.589.215 1.015.627 1.22 1.229.068.206.171.249.367.249l4.701-.017 4.769.009c.196 0 .299-.043.367-.249.213-.602.631-1.014 1.22-1.229.179-.069.247-.155.239-.344-.009-.404-.009-.817 0-1.221 0-.163-.051-.249-.213-.301-.631-.223-1.041-.67-1.288-1.298-.034-.086-.171-.181-.264-.181-3.199-.009-6.399-.009-9.598 0zm1.365 1.582H16.1h0c.307.017.503.198.512.464.009.284-.188.49-.503.499-.597.009-1.194 0-1.792 0-.776.017-1.561.009-2.355.009H7.994h0c-.136 0-.282-.017-.401-.077-.205-.103-.307-.318-.213-.516.077-.155.256-.318.418-.361.239-.06.503-.017.759-.017zM22.275.971h-2.149 0l2.875 2.905c.009-.009.026-.026.026-.043l.009-1.96c0-.857 0-.9-.761-.902zM1.195.98c-.077 0-.213.146-.222.232-.017.885-.009 1.779-.009 2.639L3.84.971c-.862 0-1.758-.009-2.645.009z"/></svg>
							| Salvage/Rebuid Title
						ul.auto__links
							li
								a(href="#") Pictures before repair
							li
								a(href="#") Repair process pictures
							li
								a(href="#") Vehicle history report
						.title.title--small Vehicle Highlights
						.auto__details
							table
								tbody
									tr
										td Body style:
										td=`${car.bodyStyle}`
									tr
										td MPG City/Hwy:
										td=`${car.hwy}`
									tr
										td Engine:
										td=`${car.engine}`
									tr
										td Fuel:
										td=`${car.fuelType}`
									tr
										td Drive Type:
										td=`${car.driveType}`
							table
								tbody
									tr
										td Transmission:
										td=`${car.transmission}`
									tr
										td Interior Color:
										td=`${car.interiorColor}`
									tr
										td Exterior Color:
										td=`${car.exteriorColor}`
									tr
										td Car seats:
										td=`${car.seat}`
									tr
										td Transmission:
										td=`${car.transmission}`
						.info
							.info__head
								.info__preview
									img(src="img/carfax.png", alt="")
								a.btn.btn--black(href='#') Vehicle history report
							.info__inner
								.info__cell
									.info__icon
										<svg width="20" height="20"><path d="M4.716 1.415c.661.544 1.211 1.181 1.697 1.865.446.629.845 1.29 1.211 1.974.478.886.112 1.663-.598 2.199l-.375.264c-.614.458-.773.963-.502 1.663.327.839.805 1.585 1.402 2.261.861.963 1.912 1.678 3.1 2.207.374.171.781.319 1.163.085.223-.132.406-.35.574-.559.287-.357.606-.676 1.036-.87.59-.256 1.187-.225 1.737.054.574.295 1.124.653 1.657 1.018l1.705 1.267c.932.746 1.116 1.585.55 2.618-.733 1.336-1.833 2.214-3.379 2.51-.016 0-.032.023-.048.031h-.486 0c-.207-.062-.43-.093-.63-.186l-2.789-1.274c-1.785-.917-3.426-2.044-4.933-3.357-1.291-1.119-2.446-2.37-3.458-3.737C2.15 9.822 1.178 8.073.389 6.224.063 5.447-.105 4.655.071 3.823.27 2.867.836 2.16 1.656 1.64c.43-.272.885-.482 1.387-.591.614-.14 1.179-.039 1.673.365zM10.836 0c.916-.008 1.825.093 2.701.373 2.215.707 3.913 2.059 5.14 3.986.877 1.36 1.307 2.859 1.323 4.475l-.072.777c-.072.326-.327.505-.709.521-.367.015-.669-.132-.765-.443-.072-.233-.088-.482-.12-.73-.183-1.608-.566-3.155-1.546-4.499-.717-.987-1.681-1.663-2.813-2.121-1.052-.427-2.159-.66-3.291-.785-.773-.085-.837-.653-.622-1.134.143-.319.446-.42.773-.42zm.351 2.533c2.797.171 5.036 1.826 5.865 4.25a5.9 5.9 0 0 1 .247 1.624l-.048.66c-.064.357-.343.559-.749.567-.398.016-.677-.163-.765-.521-.072-.28-.08-.567-.128-.847-.127-.699-.303-1.383-.653-2.02-.478-.847-1.235-1.352-2.152-1.647-.566-.179-1.155-.295-1.737-.435-.343-.078-.653-.194-.749-.583-.143-.575.263-1.088.869-1.049zm.478 2.618c.677.031 1.243.303 1.745.715.717.591 1.219 1.313 1.291 2.253a2.05 2.05 0 0 1-.048.622c-.08.357-.351.567-.709.583-.359.023-.661-.163-.789-.513-.064-.163-.088-.342-.119-.513-.12-.793-.614-1.305-1.41-1.476l-.502-.117c-.359-.109-.542-.326-.55-.637-.008-.365.191-.692.518-.8l.191-.049h0l.382-.067h0z"/></svg>
									.info__title For more info please call
									.info__text
										a(href="tel:+380502555555") +38 (050) 255 55 55
								.info__cell
									.info__icon
										<svg width="17" height="24"><path d="M8.321 24c-.195-.164-.424-.305-.585-.504-1.961-2.333-3.762-4.789-5.264-7.455-.872-1.553-1.64-3.159-2.11-4.888-.711-2.602-.384-5.058 1.09-7.303C2.856 1.721 4.828.449 7.329.092c2.443-.346 4.645.287 6.555 1.876 1.68 1.401 2.684 3.224 3.022 5.428.264 1.711-.052 3.341-.631 4.935-.774 2.133-1.887 4.091-3.114 5.979-1.181 1.817-2.489 3.54-3.882 5.187-.166.194-.39.334-.585.504h-.373zm.189-10.937c2.357-.012 4.267-1.969 4.267-4.378 0-2.415-1.944-4.396-4.29-4.378-2.363.018-4.267 1.987-4.255 4.39.011 2.415 1.933 4.378 4.278 4.367z"/></svg>
									.info__title Location
									.info__text 3915 Glenwood Drive, Charlotte NC 28208, United States of America
					.auto__cell
						h2.title.title--small About this car
						.content.content--small
							p=`${car.description}`

				h2.title.title--small Features
				ul.features
					li ABS Brakes
					li Alloy Wheels
					li ABS Brakes
					li Alloy Wheels
					li ABS Brakes
					li Alloy Wheels
					li ABS Brakes
					li Alloy Wheels
					li ABS Brakes
					li Alloy Wheels
					li ABS Brakes
					li Alloy Wheels
					li ABS Brakes
					li Alloy Wheels
					li ABS Brakes
					li Alloy Wheels
					li ABS Brakes
					li Alloy Wheels
					li ABS Brakes
					li Alloy Wheels
					li ABS Brakes
					li Alloy Wheels
					li ABS Brakes
					li Alloy Wheels
					li ABS Brakes
					li Alloy Wheels
					li ABS Brakes
					li Alloy Wheels
					li ABS Brakes
					li Alloy Wheels
					li ABS Brakes
					li Alloy Wheels
				h2.title Curent inventory
				ul.catalog.catalog--product
					if cars && cars.length > 0
						each item in cars
							if item.show_on_page
								li
									+card(item)
					else
						p No cars found.
	+ask
	// section
	.section
		.section__container.container
			+auctions
			hr.hr
			+seo